---
import PageLayout from '../components/layout/PageLayout.astro';
---

<PageLayout title="Reach out to us :D">
  <div class="bg-gray-100 py-8">
    <div class="mx-auto max-w-4xl px-4 sm:px-6 lg:px-8">
      <div class="lg:text-center">
        <img class="h-25 mx-auto w-auto" src="/images/rocket.png" alt="ChatGPT" />
        <h1 class="text-base font-semibold uppercase tracking-wide text-indigo-600"></h1>
        <p class="mt-2 text-3xl font-extrabold leading-8 tracking-tight text-gray-900 sm:text-4xl">
          Welcome
        </p>
        <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
          relocte with us is a project aimed helping companies hire the best talents globally<br />
          relocatewith@gmail.com
        </p>
      </div>
    </div>
  </div>
</PageLayout>
