---
import JobFilters from '@components/JobFilters.astro';
import PageLayout from '@components/layout/PageLayout.astro';
import MailchimpSignUpForm from '@components/MailchimpSignUpForm.astro';
import Search from '@components/Search.astro';
---

<script>
  import { fetchDefaultJobs, fetchJobs, defaultJobs, filterJobs } from '@utils/jobs';

  const filterButtons = document.querySelectorAll('.filterButton') as NodeListOf<HTMLAnchorElement>;
  const jobsList = document.getElementById('jobsList') as HTMLUListElement;

  filterButtons.forEach((element) => {
    element.addEventListener('click', () => {
      filterJobs(element.dataset.filter as string);
    });
  });

  window.addEventListener('scroll', () => {
    if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
      const start = jobsList.children.length;
      const limit = 10; // Load 10 items at a time
      fetchJobs(start, limit, null, (data) => {
        defaultJobs(data);
      });
    }
  });

  fetchDefaultJobs();
</script>

<PageLayout
  title="Visa Sponsorship & Relocation Assistance Jobs"
  description="Relocate with Us is a job board that specializes in providing visa sponsorship or relocation support for job seekers. Find your next international job with ease and confidence.">
  <header class="hero text-grey-darkest hero--compact bg-white py-8">
    <div class="container mx-auto px-4">
      <h1 class="hero__title text-center text-4xl font-bold leading-normal">
        Pack Your Bags<svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-backpack inline-block h-10 w-10"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M5 18v-6a6 6 0 0 1 6 -6h2a6 6 0 0 1 6 6v6a3 3 0 0 1 -3 3h-8a3 3 0 0 1 -3 -3z"
          ></path>
          <path d="M10 6v-1a2 2 0 1 1 4 0v1"></path>
          <path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4"></path>
          <path d="M11 10h2"></path>
        </svg>, We're Moving <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-plane-departure inline-block h-10 w-10"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M14.639 10.258l4.83 -1.294a2 2 0 1 1 1.035 3.863l-14.489 3.883l-4.45 -5.02l2.897 -.776l2.45 1.414l2.897 -.776l-3.743 -6.244l2.898 -.777l5.675 5.727z"
          ></path>
          <path d="M3 21h18"></path>
        </svg>
        <br /> Jobs with Visa Sponsorship & Relocation Assistance<svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-18 inline-block h-12">
          <path
            fill-rule="evenodd"
            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM8.547 4.505a8.25 8.25 0 1011.672 8.214l-.46-.46a2.252 2.252 0 01-.422-.586l-1.08-2.16a.414.414 0 00-.663-.107.827.827 0 01-.812.21l-1.273-.363a.89.89 0 00-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.211.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 01-1.81 1.025 1.055 1.055 0 01-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.654-.261a2.25 2.25 0 01-1.384-2.46l.007-.042a2.25 2.25 0 01.29-.787l.09-.15a2.25 2.25 0 012.37-1.048l1.178.236a1.125 1.125 0 001.302-.795l.208-.73a1.125 1.125 0 00-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 01-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 01-1.458-1.137l1.279-2.132z"
            clip-rule="evenodd"></path>
        </svg>
      </h1>
      <MailchimpSignUpForm />
    </div>
  </header>
  <main>
    <div class="container mx-auto p-6">
      <h1 class="mb-6 py-8 text-2xl font-bold"></h1>
      <h1 class="mb-6 py-8 text-2xl font-bold">Available Jobs: +800</h1>

      <div class="relative z-0">
        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
          <svg
            aria-hidden="true"
            class="h-5 w-5 text-gray-500 dark:text-gray-400"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg
          >
        </div>
        <Search />
      </div>
      <JobFilters />
      <ul id="jobsList" class="list-none"></ul>
    </div>
  </main>
</PageLayout>
