---

---

<script is:inline src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"
></script>
<script is:inline>
  window.addEventListener('load', () => {
    var map = L.map('map').setView([46.8182, 8.2275], 8);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
      maxZoom: 18
    }).addTo(map);

    fetch('/data.json')
      .then(function (response) {
        return response.json();
      })
      .then(function (data) {
        processJobsData(data);
      })
      .catch(function (error) {
        console.error('Error:', error);
      });

    function processJobsData(data) {
      var markers = L.markerClusterGroup();

      data.forEach(function (job) {
        var lat = job.latitude;
        var lng = job.longitude;

        if (lat && lng) {
          var marker = L.marker([lat, lng]);

          marker.bindPopup(
            '<div class="custom-popup"><b>' +
              job.position +
              '</b><br/>' +
              job.company +
              '<br/><a href="' +
              job.description +
              '">Apply</a></div>'
          );

          markers.addLayer(marker);
        }
      });

      map.addLayer(markers);
    }
  });
</script>

<style>
  #map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #job-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background-color: #f2f2f2;
    padding: 10px;
    overflow-y: auto;
  }

  .custom-popup {
    margin-bottom: 10px;
  }
</style>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/rocket.png" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css"
    />
  </head>
  <body>
    <div id="job-details"></div>
    <div id="map"></div>
  </body>
</html>
