---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /

Sitemap: {{ site.url }}/sitemap.xml

# Block legacy duplicate pages
Disallow: /index.html
Disallow: /relocation-jobs/
Disallow: /relocate-jobs/

# Block development files
Disallow: /assets/js/
